<h4>Hints
  <br>
  <small>Nam egestas, leo eu gravida tincidunt</small>
</h4>
<fieldset>
  <p class="lead text-center">Almost there!</p>
</fieldset>
<h4>Finish
  <br>
  <small>Nam egestas, leo eu gravida tincidunt</small>
</h4>
<fieldset>
  <p class="lead">One last check</p>
  <div class="checkbox c-checkbox">
    <label>
      <input type="checkbox" required="required" name="terms">
      <span class="fa fa-check"></span>I agree with the Terms and Conditions.</label>
  </div>
</fieldset>