<h4>Agent Info
<br>
<small>Nam egestas, leo eu gravida tincidunt</small>
</h4>
<fieldset>
  <label for="userName">User name *</label>
  <input id="userName" name="userName" type="text" class="form-control required">
  <label for="password">Password *</label>
  <input id="password" name="password" type="text" class="form-control required">
  <label for="confirm">Confirm Password *</label>
  <input id="confirm" name="confirm" type="text" class="form-control required">
  <p>(*) Mandatory</p>
</fieldset>