<h3>Form Wizard</h3>
<div class="panel panel-default">
  <div class="panel-heading">Basic Form (jquery.validate)</div>
  <div class="panel-body">
    <form id="example-form" action="#">
      <div>

        <%= yield %>

      </div>
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Basic Vertical Example</div>
  <div class="panel-body">
    <div id="example-vertical">
      <h4>Keyboard</h4>
      <section>
        <p>Try the keyboard navigation by clicking arrow left or right!</p>
      </section>
      <h4>Effects</h4>
      <section>
        <p>Wonderful transition effects.</p>
      </section>
      <h4>Pager</h4>
      <section>
        <p>The next and previous buttons help you to navigate through your content.</p>
      </section>
    </div>
  </div>
</div>